<script src="#CHEMIN{js/angular-1.6.1/angular.js}"></script>
<script src="#CHEMIN{js/angular-1.6.1/angular-sanitize.js}"></script>
<script src="#CHEMIN{js/checklist-model.js}"></script>

<script src="#CHEMIN{js/controllers.js}"></script>
<script src="#CHEMIN{js/factories.js}"></script>
<script src="#CHEMIN{js/filters.js}"></script>
<script src="#CHEMIN{js/ui-bootstrap-tpls-2.5.0.js}"></script>
<script src="#CHEMIN{javascript/jquery-ui/ui/jquery-ui.js}"></script>
<script src="#CHEMIN{javascript/jquery-ui/ui/jquery.effects.slide.js}"></script>


[(#REM) Exemple de configuration ]
<script>
	myApp.factory('Config', function () {
		return {
			url_articles : "[(#URL_PAGE{pro_documents.json})&id_rubrique=#ENV{id_rubrique}]",
			url_objets : "[(#URL_PAGE{pro_objets.json})&id_secteur=#ENV{id_rubrique}]",
			url_mots_1 : "[(#URL_PAGE{pro_mots.json})&id_groupe=3]",
			url_mots_2 : "[(#URL_PAGE{pro_mots.json})&id_groupe=14]",
			url_mots_3 : "[(#URL_PAGE{pro_mots.json})&id_groupe=15]",
			url_mots_4 : "[(#URL_PAGE{pro_mots.json})&id_groupe=11]",
			url_mots_exlusion : "[(#URL_PAGE{pro_mots.json})&id_groupe=16]",
			url_regions_mots : "[(#URL_PAGE{pro_mots.json})&id_groupe=4]",
		};
	});
</script>
