	#HTTP_HEADER{Content-Type: text/json; charset=#CHARSET}
	#SET{resultats,#ARRAY}
	<BOUCLE_sousRub(RUBRIQUES){id_secteur}>
		[(#SET{resultats,#GET{resultats}|push{#ARRAY{
			objet,rubrique,
			id,#ID_RUBRIQUE,
			titre,#TITRE,
			texte,#INTRODUCTION,
			url,#URL_RUBRIQUE
		}}})]
	</BOUCLE_sousRub>

	<BOUCLE_articles(ARTICLES){id_secteur}{!par date}>
		[(#SET{resultats,#GET{resultats}|push{#ARRAY{
			objet,article,
			id,#ID_ARTICLE,
			titre,#TITRE,
			texte,#INTRODUCTION,
			url,#URL_ARTICLE
		}}})]
	</BOUCLE_articles>

	[<BOUCLE_principale(POUR){source table, #GET{resultats}}{','}>
	#SET{mots,#ARRAY}<BOUCLE_motsA(MOTS){id_article}{si #VALEUR{objet}|=={article}|oui}>#SET_PUSH{mots,#ID_MOT}</BOUCLE_motsA><BOUCLE_motsR(MOTS){id_rubrique}{si #VALEUR{objet}|=={rubrique}|oui}>#SET_PUSH{mots,#ID_MOT}</BOUCLE_motsR>
	{
		"id": #VALEUR{id},
		"titre": [(#VALEUR{titre}|json_encode)],
		"texte": [(#VALEUR{texte}|couper{150}|json_encode)],
		"url": [(#VALEUR{url}|json_encode)],
		"mots": [<BOUCLE_(DATA){source table, #GET{mots}}{','}>#VALEUR</BOUCLE_>]
	}
	</BOUCLE_principale>]

#FILTRE{trim}
