	#HTTP_HEADER{Content-Type: text/json; charset=#CHARSET}
	#SET{resultats,#ARRAY}
	#SET{rubriques,#ARRAY}
	#SET{articles,#ARRAY}
	<BOUCLE_rubriques(RUBRIQUES){id_secteur}>
		[(#SET_PUSH{rubriques,#ID_RUBRIQUE})]
	</BOUCLE_rubriques>
	<BOUCLE_articles(ARTICLES){branche}>
		[(#SET_PUSH{articles,#ID_ARTICLE})]
	</BOUCLE_articles>
	<BOUCLE_docRub(DOCUMENTS){id_rubrique IN #GET{rubriques}}{!par date}>
		[(#SET{resultats,#GET{resultats}|push{#ARRAY{
			objet,document,
			id,#ID_DOCUMENT,
			titre,#TITRE,
			basename,[(#FICHIER|basename)],
			url,#FICHIER,
			extension,#EXTENSION,
			taille,#TAILLE,
			date,#DATE,
		}}})]
	</BOUCLE_docRub>
	<BOUCLE_docArt(DOCUMENTS){id_article IN #GET{articles}}{!par date}>
		[(#SET{resultats,#GET{resultats}|push{#ARRAY{
			objet,document,
			id,#ID_DOCUMENT,
			titre,#TITRE,
			basename,[(#FICHIER|basename)],
			url,#FICHIER,
			extension,#EXTENSION,
			taille,#TAILLE,
			date,#DATE,
		}}})]
	</BOUCLE_docArt>
	[<BOUCLE_principale(DATA){source tableau, #GET{resultats}}{','}>
	#SET{mots,#ARRAY}<BOUCLE_mots(MOTS){id_document=#VALEUR{id}}>#SET_PUSH{mots,#ID_MOT}</BOUCLE_mots>
	{
		"id": [(#VALEUR{id})],
		"titre": [(#VALEUR{titre}|sinon{#VALEUR{basename}}|json_encode)],
		"url": [(#VALEUR{url}|json_encode)],
		"extension": [(#VALEUR{extension}|strtoupper|json_encode)],
		"taille": [(#VALEUR{taille}|taille_en_octets|json_encode)],
		"date": [(#VALEUR{date}|affdate|json_encode)],
		"mots": [<BOUCLE_(DATA){source table, #GET{mots}}{','}>#VALEUR</BOUCLE_>]
	}
	</BOUCLE_principale>]

	#FILTRE{trim}
