<li role="menuitem" ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-first">
	<a href ng-click="selectPage(1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle>{{::getText('first')}}</a>
</li>
	<a href ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle class="pager-btn prev">
		<span class="sprite arrow-prev-a"></span>
		<span class="sr-only">{{::getText('previous')}}</span>
	</a>
<ol class="pagination-wp">
<li role="menuitem" ng-repeat="page in pages track by $index" ng-class="{active: page.active,disabled: ngDisabled&&!page.active}" class="pagination-page item">
	<a href ng-click="selectPage(page.number, $event)" ng-disabled="ngDisabled&&!page.active" uib-tabindex-toggle>
		<span ng-class="{active: page.active,disabled: ngDisabled&&!page.active}" class="link">{{page.text}}</span>
	</a>
</li>
</ol>

	<a href ng-click="selectPage(page + 1, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle class="pager-btn next">
		<span class="sprite arrow-next-a"></span>
		<span class="sr-only">{{::getText('next')}}</span>
	</a>
<li role="menuitem" ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-last">
	<a href ng-click="selectPage(totalPages, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle>{{::getText('last')}}</a>
</li>
