<BOUCLE_principale(RUBRIQUES){id_rubrique}{tout}>
<INCLURE{fond=inclure/inc-tete,env} />

<main id="main" class='container ph-0-xs' ng-app="myApp" ng-controller='MainCtrl'>
	<INCLURE{fond=inclure/exemple/header,env} />
	<section class="rubric-pro-wp">
		<header class="header-main">
			<h1 class="h-like-d"><a href="" class="c-wh-a" ng-click="resetFiltres()">Tous les résultats</a></h1>
		</header><!-- .header-main -->
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<INCLURE{fond=inclure/exemple/col-filtres} />
			</div><!-- .col-md-3-->
			<div class="col-md-6 col-sm-8">
				<INCLURE{fond=inclure/exemple/resultats} />
			</div><!-- .col-md-6-->
			<INCLURE{fond=inclure/exemple/aside,env} />
		</section><!-- .rubric-pro-wp-->
	</main><!-- #main-->

<INCLURE{fond=inclure/inc-pied,env,composition=#COMPOSITION} />

</BOUCLE_principale>
