<div class="col-md-3 col-sm-8">
	<div class="col-right">
		<BOUCLE_actu(RUBRIQUES){id_rubrique=69}>
		<header class="header main">
			<h2 class="h-like-f">#TITRE</h2>
		</header><!-- .header -->
		<B_articlesActu>
		<ul class="list-news">
			<BOUCLE_articlesActu(ARTICLES){id_rubrique}{!par date}{0,2}>
			<li class="item">
				<a href="#URL_ARTICLE" class="link">
					<span class="date">[(#DATE|affdate{'d.m.Y'})]</span>
					<h3 class="title">#TITRE</h3>
				</a>
			</li><!-- .item -->
			</BOUCLE_articlesActu>
		</ul><!-- .list-news -->
		</B_articlesActu>

		<div class="ta-c mt-30">
			<a href="#URL_RUBRIQUE" class="btn-c grey-a">+ d'actualités</a>
		</div>
		</BOUCLE_actu>



		<section class="mt-30">
			<BOUCLE_push(RUBRIQUES){id_rubrique}>
				[(#CONTENU_TEXTE|PtoBr)]
			</BOUCLE_push>
		</section>



		</div><!-- .col-right -->
	</div><!-- .col-md-3-->
</div><!-- .row -->
