[(#ENV{id_secteur}|=={5}|?{
#SET{lang,en},
#SET{lang,fr}
})]

<div class="box">
	<div id="calendar">


		#SET{days,#ARRAY{0,0,1,1,2,2,3,3,4,4,5,5,6,6}}
		#SET{days1,#ARRAY{1,1,2,2,3,3,4,4,5,5,6,6,7,7}}

		[(#SET{url,[(#ENV{lien_navigation,#SELF})]})]
		[(#SET{date_precedente,[(#ENV{date_precedente,[(#DATE|mois_precedent)]})]})]
		[(#SET{date_suivante,[(#ENV{date_suivante,[(#DATE|mois_suivant)]})]})]
		[(#SET{id_calendrier,<:calendrier:minical|minical_compteur:>})]

		[(#ID_SECTEUR|=={3}|oui) #SET{Rubagenda,65}]
		[(#ID_SECTEUR|=={4}|oui) #SET{Rubagenda,67}]
		[(#ID_SECTEUR|=={5}|oui) #SET{Rubagenda,67}]

		[(#SET{Rubagenda,67})]

		[(#SET{ids,#ARRAY})]
		<BOUCLE_minical(ARTICLES){id_rubrique IN #GET{Rubagenda}}{par date_agenda}{lang_select}>
		[(#SET{ids,[(#GET{ids}|push{[(#ID_ARTICLE)]})]})]
		[[(#SET{joursa,[(#GET{jours}|push{[(#DATE_AGENDA|affdate{Y-m-d})]})]})]
		(#DATE|affdate{Y-m-d}|unique|?{' '})]
		</BOUCLE_minical>

		<table id="#GET{id_calendrier}" class="calendrier" summary="<:cal_par_mois:>">

			<caption>
				[(#GET{date_precedente}|?{' '})
				<a href="[(#GET{url}|parametre_url{lang,#GET{lang}}|parametre_url{#ENV{var_date,date},#GET{date_precedente}})]"
				class="ajax" title="<:biomedecine:agende_mois_prec:> [(#GET{date_precedente}|nom_mois)] [(#GET{date_precedente}|annee)]">
				&#9668;</a>&nbsp;]<strong>[(#DATE|nom_mois)]&nbsp;[(#DATE|annee)]</strong>
				[(#GET{date_suivante}|?{' '})&nbsp;
				<a href="[(#GET{url}|parametre_url{lang,#GET{lang}}|parametre_url{#ENV{var_date,date},#GET{date_suivante}})]"
				class="ajax" title="<:biomedecine:agende_mois_suiv:> [(#GET{date_suivante}|nom_mois)] [(#GET{date_suivante}|annee)]">
				&#9658;</a>]
			</caption>
			#SET{pjc, 2}
			<BOUCLE_pjc(POUR){tableau #GET{days}}>
			[(#SET{jour_[(#VALEUR|plus{1})],[(#GET{pjc}|plus{#VALEUR}|jour_semaine)]})]
			</BOUCLE_pjc>
			<thead>
				<tr>
					<BOUCLE_ct(POUR){tableau #GET{days1}}>
					<th class="jour_#GET{jour_#VALEUR}" scope="col">
						<abbr title="[(#GET{jour_#VALEUR}|date_jour)]">
							[(#GET{jour_#VALEUR}|date_jour{'1car'})]
						</abbr>
					</th>
					</BOUCLE_ct>
				</tr>
			</thead>


			<tbody>
				[(#SET{debut,[(#DATE|debut_mois|debut_semaine{#GET{pjc}}|affdate{Y-m-d})]})]
				[<tr id="#GET{id_calendrier}S(#GET{debut})">[
				(#MODELE{minical/days_pro}{var_date}{date}{id_article}{id_rubrique}{id_secteur}
				{hors_periode=mois_precedent}{pjc=#GET{pjc}}{debut=#GET{debut}}{ids=#GET{ids}}{joursa=#GET{joursa}}{url=#GET{url}})
				]</tr>]
				[(#SET{debut,[(#GET{debut}|date_voisine{7,jour})]})]
				[<tr id="#GET{id_calendrier}S(#GET{debut})">[
				(#MODELE{minical/days_pro}{var_date}{date}{id_article}{id_rubrique}{id_secteur}
				{pjc=#GET{pjc}}{debut=#GET{debut}}{joursa=#GET{joursa}}{ids=#GET{ids}}{url=#GET{url}})
				]</tr>]
				[(#SET{debut,[(#GET{debut}|date_voisine{7,jour})]})]
				[<tr id="#GET{id_calendrier}S(#GET{debut})">[
				(#MODELE{minical/days_pro}{var_date}{date}{id_article}{id_rubrique}{id_secteur}
				{pjc=#GET{pjc}}{debut=#GET{debut}}{joursa=#GET{joursa}}{ids=#GET{ids}}{url=#GET{url}})
				]</tr>]
				[(#SET{debut,[(#GET{debut}|date_voisine{7,jour})]})]
				[<tr id="#GET{id_calendrier}S(#GET{debut})">[
				(#MODELE{minical/days_pro}{var_date}{date}{id_article}{id_rubrique}{id_secteur}
				{pjc=#GET{pjc}}{debut=#GET{debut}}{joursa=#GET{joursa}}{ids=#GET{ids}}{url=#GET{url}})
				]</tr>]
				[(#SET{debut,[(#GET{debut}|date_voisine{7,jour})]})]
				[<tr id="#GET{id_calendrier}S(#GET{debut}|teste_mois{#DATE})">[
				(#MODELE{minical/days_pro}{var_date}{date}{id_article}{id_rubrique}{id_secteur}
				{hors_periode=mois_suivant}{pjc=#GET{pjc}}{debut=#GET{debut}}{ids=#GET{ids}}{joursa=#GET{joursa}}{url=#GET{url}})
				]</tr>]
				[(#SET{debut,[(#GET{debut}|date_voisine{7,jour})]})]
				[<tr id="#GET{id_calendrier}S(#GET{debut}|teste_mois{#DATE})">[
				(#MODELE{minical/days_pro}{var_date}{date}{id_article}{id_rubrique}{id_secteur}
				{hors_periode=mois_suivant}{pjc=#GET{pjc}}{debut=#GET{debut}}{ids=#GET{ids}}{joursa=#GET{joursa}}{url=#GET{url}})
				]</tr>]

			</tbody>



		</table>

		<BOUCLE_tooltip(ARTICLES){id_rubrique=#GET{Rubagenda}}{par date_agenda}{lang_select}>
		<div id="tp#ID_ARTICLE" class="tooltip"[ lang="(#LANG)"]>
			<strong>[(#DATE_AGENDA|affdate)]</strong>
			[<p>(#TITRE|couper{150})</p>]
			<a href="#URL_ARTICLE" title="<:biomedecine:lire_la_suite:> [(#TITRE|couper{50})]" class="color"><:biomedecine:lire_la_suite:> &#x25B6;</a>
		</div>
		</BOUCLE_tooltip>

	</div>
</div>












