<section class="col-left effect" ng-show="!spinner">
	<form action="#">
		<header class="header">
			<h2 class="h-like-d">Filtrer par</h2>
		</header><!-- .header -->
		<ul class="filter-wp">
			<li class="item">
				<header class="header-filter">
					<button class="btn-toggle">Activités</button>
				</header>
				<div class="filter-sub-multiple-wp">
					<div class="filter-sub-wp">
						<button class="btn-toggle-sub">Procréation embryologie génétique</button>
						<ul class="list-checkbox">

							<li ng-repeat="mot in mots_1">
								<div class="checkradio-wp">
									<input type="checkbox" checklist-model="user.mots" checklist-value="mot.id" id="filter-{{mot.id}}" >
									<label for="filter-{{mot.id}}" ng-bind-html="mot.titre"></label>
								</div><!-- .checkradio-wp -->
							</li>

						</ul>
					</div><!-- .filter-sub-wp -->
					<div class="filter-sub-wp">
						<button class="btn-toggle-sub">Prélèvement et greffe d’organes et de tissus</button>
						<ul class="list-checkbox">
							<li ng-repeat="mot in mots_2">
								<div class="checkradio-wp">
									<input type="checkbox" checklist-model="user.mots" checklist-value="mot.id" id="filter-{{mot.id}}" >
									<label for="filter-{{mot.id}}" ng-bind-html="mot.titre"></label>
								</div><!-- .checkradio-wp -->
							</li>
						</ul>
					</div><!-- .filter-sub-wp -->
					<div class="filter-sub-wp">
						<button class="btn-toggle-sub">Prélèvement et greffe de cellules souches  hématopoïétiques</button>
						<ul class="list-checkbox">
							<li ng-repeat="mot in mots_3">
								<div class="checkradio-wp">
									<input type="checkbox" checklist-model="user.mots" checklist-value="mot.id" id="filter-{{mot.id}}" >
									<label for="filter-{{mot.id}}" ng-bind-html="mot.titre"></label>
								</div><!-- .checkradio-wp -->
							</li>
						</ul>
					</div><!-- .filter-sub-wp -->
				</div>
			</li><!-- .item -->

			<li class="item">
				<header class="header-filter">
					<button class="btn-toggle">Activités transverses</button>
				</header>
				<div class="filter-sub-wp">
					<ul class="list-checkbox">
						<li ng-repeat="mot in mots_4">
							<div class="checkradio-wp">
								<input type="checkbox" checklist-model="user.mots" checklist-value="mot.id" id="filter-{{mot.id}}" >
								<label for="filter-{{mot.id}}" ng-bind-html="mot.titre"></label>
							</div><!-- .checkradio-wp -->
						</li>
					</ul>
				</div><!-- .filter-sub-wp -->
			</li><!-- .item -->
			<li class="item">
				<header class="header-filter">
					<button class="btn-toggle">Type de documents</button>
				</header>
				<div class="filter-sub-wp">
					<ul class="list-checkbox">
						<li ng-repeat="mot in mots_exclusion">
							<div class="checkradio-wp">
								<input type="checkbox" checklist-model="user.mots_exclusion" checklist-value="mot.id" id="filter-{{mot.id}}" >
								<label for="filter-{{mot.id}}" ng-bind-html="mot.titre"></label>
							</div><!-- .checkradio-wp -->
						</li>
					</ul>
				</div><!-- .filter-sub-wp -->
			</li><!-- .item -->
			<li class="item item-search">
				<header class="header-search">
					<h3 class="h-like-f c-bk-a">Préciser la recherche</h3>
				</header>
				<div class="mt-10">
					<div id="filter-select" class='btn-group bootstrap-select' uib-dropdown is-open="status.isopen">
						<button id="single-button" type="button" class="bootstrap-select btn dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
							<span class='filter-option pull-left'>{{titre_bouton_regions}}</span> <span class="bs-caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem"><a ng-click="changeRegion('','Région')" href="">Toutes les régions</a></li>

							<li role="menuitem" ng-repeat="regions_mot in regions_mots"><a ng-click="changeRegion(regions_mot.id,regions_mot.titre)" href="">{{ regions_mot.titre }}</a></li>
						</ul>
					</div>
				</div>



				<div class="mt-10">
					<label for="filter-search-1" class="p-like-c c-bk-a">Vous n'avez pas trouvé ?</label>
					<div class="search-wp">
						<input type="text" class="form-control" placeholder="Recherchez par mot-clé" id="filter-search-1" ng-model="recherche">
						<span class="sprite icon-search-a"><span class="sr-only">Rechercher</span></span>
					</div>
				</div>
			</li><!-- .item.iteam-search -->
			<li></li>
			[(#REM)
			<li>
				<button type="submit" class="btn-submit">Rechercher</button>
			</li>
			]
		</ul><!-- .filter-wp -->
	</form>
</section><!-- .col-left -->
