<header id="header-sub" class="professionnal">
	<button id="nav-sub-mobile-trigger" type="button" aria-haspopup="true" aria-expanded="true" class="visible-xs">
		<span class="btn-mobile-hamburger">
			<span></span> <span></span> <span></span><span></span>
		</span><!-- #btn-hamburger -->
		<span class="sr-only">Ouvrir le menu mobile</span>
	</button>
	<ul class="col-left">
		<li class="item">
			<a href="#URL_RUBRIQUE{4}" class="link">
				<span class="sprite icon-home-a mr-5"></span>
				<span class="visible-xs-inline-block link-sub">Accueil des sites professionnels</span>
			</a><!-- .link-->
		</li><!-- .item-->

		<BOUCLE_activites(RUBRIQUES){id_rubrique=12}>
		<B_sousAct>
		<li class="item dropdown-wp">
			<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accès direct aux #TITRE</button>
			<ul class="dropdown-menu">
				<BOUCLE_sousAct(RUBRIQUES){id_parent}{par num titre}>
				<li>
					<a href="#URL_RUBRIQUE">#TITRE</a>
				</li>
				</BOUCLE_sousAct>
			</ul><!-- .dropdown-menu -->
		</li><!-- .item -->
		</B_sousAct>
		</BOUCLE_activites>

		<li class="item dropdown-wp hidden-lg ">
			<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</button>
			<ul class="dropdown-menu">
				<BOUCLE_rapportsMob(ARTICLES){id_article=60}>
				<li class="">
					<a href="#URL_ARTICLE" class="link">#TITRE</a>
				</li><!-- .item -->
				</BOUCLE_rapportsMob>
				<BOUCLE_actusMob(RUBRIQUES){id_rubrique=17}>
				<li class="">
					<a href="#URL_RUBRIQUE" class="link">#TITRE</a>
				</li><!-- .item -->
				</BOUCLE_actusMob>
				<BOUCLE_formaMob(ARTICLES){id_article=59}>
				<li class="">
					<a href="#URL_ARTICLE" class="link">#TITRE</a>
				</li><!-- .item -->
				</BOUCLE_formaMob>
			</ul><!-- .dropdown-menu -->
		</li><!-- .item -->

		<BOUCLE_rapports(ARTICLES){id_article=60}>
		<li class="item[ (#EXPOSE{active})]">
			<a href="#URL_ARTICLE" class="link">#TITRE</a>
		</li><!-- .item -->
		</BOUCLE_rapports>

		<BOUCLE_actus(RUBRIQUES){id_rubrique=17}>
		<li class="item[ (#EXPOSE{active})]">
			<a href="#URL_RUBRIQUE" class="link">#TITRE</a>
		</li><!-- .item -->
		</BOUCLE_actus>

		<BOUCLE_forma(ARTICLES){id_article=59}>
		<li class="item[ (#EXPOSE{active})]">
			<a href="#URL_ARTICLE" class="link">#TITRE</a>
		</li><!-- .item -->
		</BOUCLE_forma>

	</ul><!-- .col-left -->

	<div class="col-right">
		<BOUCLE_brochure(DOCUMENTS){id_rubrique=4}{extension=pdf}{0,1}>
		<a href="#FICHIER" class="link-booklet" target="_blank">
			<span class="sprite logo-booklet-a"></span>
			<span class="txt">Commander une brochure</span>
		</a>
		</BOUCLE_brochure>
		<BOUCLE_medtrait(RUBRIQUES){id_rubrique=18}>
		<a href="#URL_RUBRIQUE" class="link">
			<span>#TITRE</span>
		</a>
		</BOUCLE_medtrait>
	</div><!-- .col-right-->
</header><!-- #header -->
