<div class="center-block" ng-show="spinner" style='width: 200px;'><img src="#CHEMIN{images/spinner.gif}" alt=""></div>
<div class="bg-bl-c c-wh-a ta-c pa-15 visible-xs">
	<div class="h-like-f"><a href="" class="c-wh-a" ng-click="resetFiltres()">Voir tous les résultats</a></div>
</div>
<div class="col-middle" ng-show="!spinner">
	<ul class="tab-nav" role="tablist">
		<li class="item active">
			<a href="#tab-document" class="link" data-toggle="tab" role="tab">
				<span class="sprite icon-document-b"></span>
				<span class="txt">{{(documents | filtreMot : user.mots | filtreMotExclusion : user.mots_exclusion | filtreRegions : select_regions.mots | filter : recherche).length}} Document<span ng-show="(documents | filtreMot : user.mots | filtreRegions : select_regions.mots | filter : recherche).length > 1">s</span></span>
			</a><!-- .link -->
		</li><!-- .item -->
		<li class="item">
			<a href="#tab-rubric" class="link" data-toggle="tab" role="tab">
				<span class="sprite icon-rubric-b"></span>
				<span class="txt">{{(objets | filtreMot : user.mots | filtreMotExclusion : user.mots_exclusion | filtreRegions : select_regions.mots | filter : recherche).length}} Rubrique<span ng-show="(objets | filtreMot : user.mots | filtreRegions : select_regions.mots | filter : recherche).length > 1">s</span></span>
			</a><!-- .link -->
		</li><!-- .item -->
	</ul><!-- .tab-nav -->
	<div class="tab-content">
		<section class="tab-pane fade in active" role="tabpanel" id="tab-document">
			<header class="sr-only">
				<h2>Les résultats pour les documents</h2>
			</header>
			<ul  class="list-results">

				<li class="item" ng-repeat="document in documents | filtreMot : user.mots | filtreMotExclusion : user.mots_exclusion | filtreRegions : select_regions.mots | filter : recherche | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
					<a href="#" ng-href="{{document.url}}" document='_blank' class="link" target="_blank">
						<h3 class="title" ng-bind-html="document.titre"></h3>
						<div class="date"><span ng-bind-html="document.date"></span> - <span ng-bind-html="document.extension"></span> <span ng-bind-html="document.taille"></span></div>
					</a><!-- .link -->
				</li><!-- .item -->

			</ul><!-- .list-results -->


			<div class="list-pagination" ng-show="(documents | filtreMot : user.mots | filtreMotExclusion : user.mots_exclusion | filtreRegions : select_regions.mots | filter : recherche).length > itemsPerPage">
				<div uib-pagination total-items="(documents | filtreMot : user.mots | filtreRegions : select_regions.mots | filter : recherche).length" ng-model="currentPage" template-url="#URL_PAGE{ui-bootstrap-pagination}" class='ui_bootstrap_pagi' rotate="true" force-ellipses="true" max-size="maxSize"></div>
			</div>
		</section><!-- .tab-pane -->
		<section class="tab-pane fade in" role="tabpanel" id="tab-rubric" >
			<header class="sr-only">
				<h2>Les résultats par rubriques</h2>
			</header>
			<ul  class="list-results">
				<li class="item" ng-repeat="objet in objets | filtreMot : user.mots | filtreMotExclusion : user.mots_exclusion | filtreRegions : select_regions.mots | filter : recherche | startFrom:(currentPageO-1)*itemsPerPage | limitTo:itemsPerPage">
					<a href="#" ng-href="{{objet.url}}" class="link">
						<h3 class="title" ng-bind-html="objet.titre"></h3>
						<p class="date" ng-bind-html="objet.texte"></p>
					</a><!-- .link -->
				</li><!-- .item -->
			</ul><!-- .list-results -->


			<div class="list-pagination" ng-show="(objets | filtreMot : user.mots | filtreMotExclusion : user.mots_exclusion | filtreRegions : select_regions.mots | filter : recherche).length > itemsPerPage">
				<div uib-pagination total-items="(objets | filtreMot : user.mots | filtreRegions : select_regions.mots | filter : recherche).length" ng-model="currentPageO" template-url="#URL_PAGE{ui-bootstrap-pagination}" class='ui_bootstrap_pagi' rotate="true" force-ellipses="true" max-size="maxSize"></div>
			</div>
		</section><!-- .tab-pane -->
	</div><!-- .tab-content -->

</div><!-- .col-middle -->
